beautifulsoup4==4.6.0
dj-database-url==0.4.2
Django==1.11.1
Faker==0.7.12
html5lib==0.999999999
mock==2.0.0
pbr==3.0.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
webencodings==0.5.1
